@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark: hsl(240 10% 3.9);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
